<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      <bindings>
        <netTcpBinding>
          <binding name="netTcpBinding">
            <!-- This allows for connection from outside networks. For beginning set to none. We don't really need authentication for service that will have it's own users authentication.
            But still, I think I will need to learn more about this, because I feel like setting security to none may bring some trouble later. For beginning it will be okay. -->
            <security mode="None"></security>
          </binding>
        </netTcpBinding>
      </bindings>
        <services>
            <service name="ChatServer.ChatService">
                <endpoint address="net.tcp://0.0.0.0:9000/ChatService" binding="netTcpBinding"
                    bindingConfiguration="netTcpBinding" name="ChatServiceEndPoint" contract="ChatInterfaces.IChatService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>